[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
  ignore = dirty
[submodule "bundle/Command-T"]
	path = bundle/Command-T
	url = https://github.com/vim-scripts/Command-T.git
  ignore = dirty
[submodule "bundle/pyflakes"]
	path = bundle/pyflakes
	url = https://github.com/vim-scripts/pyflakes.vim.git
  ignore = dirty
[submodule "bundle/fswitch"]
	path = bundle/fswitch
	url = https://github.com/vim-scripts/FSwitch.git
  ignore = dirty
