[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
  ignore = dirty
[submodule "bundle/pyflakes"]
	path = bundle/pyflakes
	url = https://github.com/vim-scripts/pyflakes.vim.git
  ignore = dirty
[submodule "bundle/fswitch"]
	path = bundle/fswitch
	url = https://github.com/vim-scripts/FSwitch.git
  ignore = dirty
[submodule "bundle/vim-project"]
	path = bundle/vim-project
	url = https://github.com/amiorin/vim-project.git
[submodule "bundle/lightline.vim"]
	path = bundle/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = https://github.com/wincent/command-t.git
